In [3]:
import pandas
data = pandas.read_csv("reviews.csv")
data.head()

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN

In [4]:
#rating
data['Rating']

0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64

In [6]:
#filter rating
data[data['Rating'] < 4.0]

,Course Name,Timestamp,Rating,Comment
17,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 09:35:44+00:00,3.5,NaN
35,The Complete Python Course: Build 10 Professio...,2021-03-31 22:24:11+00:00,3.5,NaN
57,The Python Mega Course: Build 10 Real World Ap...,2021-03-31 08:41:48+00:00,2.0,Coding is awful confusing. Loads of weird stuf...
64,The Python Mega Course: Build 10 Real World Ap...,2021-03-31 05:50:51+00:00,2.5,NaN
68,The Python Mega Course: Build 10 Real World Ap...,2021-03-30 20:19:54+00:00,3.0,NaN
...,...,...,...,...
44958,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 21:09:24+00:00,3.5,NaN
44961,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 20:09:48+00:00,2.5,NaN
44977,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 15:09:16+00:00,3.5,NaN
44979,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 14:16:09+00:00,3.5,NaN
44989,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 05:32:35+00:00,3.0,NaN

In [7]:
#filter rating , count
data[data['Rating'] < 4.0].count()

Course Name    6127
Timestamp      6127
Rating         6127
Comment         888
dtype: int64